body {
    background-color: #000000;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}

.kp p { margin-top: 100px; }
button { text-decoration: none; margin: 0 10px; }

.kp {
	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

button {
	display: inline-block;
	color: #FFFFFF;
	background-color: #FF3366;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: courier, monospace;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

button {
		background-color: #FF3366;
		border-color: rgba(0,0,0,0.5);
	}

button {
		background-color: #FF3366;
		border-color: rgba(0,0,0,0.9);
	}

button {
	background-color: #FF3366;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

button:hover {
		background-color: #FF3366;
		border-color: rgba(0,0,0,0.5);
	}

button:active {
		background-color: #FF3366;
		border-color: rgba(0,0,0,0.9);
	}
#footer{
position: fixed;
width: 100%;
bottom: 0px;
text-align: left;
font-family: courier, monospace;
color: white;
}
