body{
  background-color: black;
  text-align: center;
  font-family: monospace;
}
#txt{
  color: white;
  font-size: 300%;

}
#weekday{
  color: white;
  font-size: 300%;
}
#progressbars{
  width: 100%;
  text-align: left;
}
progress{
  width: 90%;
  min-height: 30px;
  max-height: 100px;
  -webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background: #282828 ;
	border-radius: 50px;

}
progress::-webkit-progress-value {
	border-radius: 50px;
}
#hourbar::-webkit-progress-value {
  background: #00FF00 ;
}
#minutebar::-webkit-progress-value{
  background: #FF0000;
}
#secondbar::-webkit-progress-value{
  background: #0000FF;
}
