body{
  background-color: black;
  text-align: center;
  font-family: monospace;
}
#txt{
  color: white;


}
#weekday{
  color: white;

}
#progressbars{
  width: 100%;
  text-align: left;
}
progress{
  width: 90%;
  min-height: 30px;
  max-height: 100px;
  -webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background: #282828 ;
	border-radius: 50px;

}
progress::-webkit-progress-value {
	border-radius: 50px;
}
#hourbar::-webkit-progress-value {
  background: #00FF00 ;
}
#minutebar::-webkit-progress-value{
  background: #FF0000;
}
#secondbar::-webkit-progress-value{
 background: #0000FF;
}


#hourhand{
	width: 100px;
	height: 5px;
	background: #00FF00;
  transform-origin: right center;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  position: relative;
  top: 100px;

}
#minutehand{
	width: 100px;
	height: 5px;
	background: #FF0000;
  transform-origin: right center;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  position: relative;
  top: 100px;

}
#secondhand{
	width: 100px;
	height: 5px;
	background: #0000FF;
  transform-origin: right center;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  position: relative;
  top: 100px;

}
#rectangle{
  height: 200px;
  width: 200px;
  border-style: dashed;
  border-radius: 50%;
  border-width: 5px;
  border-color: white;

}
#name{
  color: white;
  padding-top:20px;
  font-size: 200%;
}
#slider {
    width:40%;
}
#colorbtn{
  width: 40%;
}
#text{
  margin: 20px 0;
  font-size: 400%;
  min-height: 300px;
}
