body {
  font-family: "Orator Std";
  font-size: 20px;
  color: #989898;
}

p {
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

.inner_clock {
  display: inline-block;
  margin:5px;
}

.outer_clock {
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
}

#clock_day {
  position: fixed;
  text-align: center;
  bottom: 100px;
  width: 100%;
  
}
