#clock
{
	width: 860px ;
	height: 360px ;
	position: absolute;
    top:0;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
	font-size: 200px;
	/*border: solid 10px;*/
	font-family: cool;
	text-align: center;
	/*color:red;*/
}

@font-face
{
	font-family:cool;
	src: url("KGBlankSpaceSketch.ttf") format("truetype");
}

#kp
{
	font-size:40px;
}